---
import MainLayout from "@/layouts/MainLayout.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { Badge } from "@/components/ui/badge";
import { Button } from "@/components/ui/button";
import FeatureExample from "@/components/Feature";
import { Inbox } from "lucide-react";
import Linkedin from "@/svg/Linkedin.astro";
import Form from "@/components/Form";

const presentation =
  "Originally from Granada, in southern Spain,  where I began my studies in Information Science.  After my bachelor's, I moved to Portugal to pursue a  master's in Human Computer Interaction (HCI) in the beautiful and rainy city of  Porto, where I spent two years. Having completed my  studies, I moved to Vienna, Austria, to kickstart my  career as a UX/UI designer and Front-end developer.";

const languages = ["English", "German", "Spanish", "Portuguese"];

const STUDIES = [
  {
    dates: "2022 - 2024",
    study: `[Master’s Degree] <strong>Human Computer Interaction</strong> · Faculty of Engineering at University of Porto, Portugal`,
    highlights: [
      "UX/UI design",
      "Frontend development",
      "Interactive installations",
      "Creative coding",
      "Game development",
    ],
  },
  {
    dates: "2018 - 2022",
    study: `[Bachellor’s Degree] <strong>Information Science</strong> · University of Granada, Spain`,
    highlights: [
      "Databases",
      "CMS",
      "Information architecture",
      "Web architecture",
    ],
  },
];
---

<Layout>
  <MainLayout>
    <!-- Dot grid texture -->
    <div
      slot="background"
      class="pointer-events-none absolute inset-0"
      style="background-image: radial-gradient(circle, rgba(0,0,0,0.15) 1px, transparent 1px); background-size: 28px 28px;"
    >
    </div>

    <section class="grid grid-cols-2 items-center">
      <figure
        class="max-w-[350px] justify-self-center overflow-hidden rounded-2xl"
      >
        <Image
          src={"/public/images/profile.webp"}
          alt="Profile picture of Daniel"
          width={350}
          height={500}
          sizes="350px"
          class="h-auto w-full rounded-2xl object-cover"
        />
      </figure>

      <div class="flex flex-col justify-center gap-6">
        <header class="space-y-px">
          <p class="text-base opacity-70">Hola</p>
          <h1 class="text-3xl font-semibold">I&apos;m Daniel</h1>
        </header>

        <div class="flex items-center gap-2 text-sm">
          <span class="opacity-70">Location</span>
          <span class="bg-clay text-light px-2 py-px"> Vienna, Austria </span>
        </div>

        <p class="leading-relaxed">
          {presentation}
        </p>

        <div class="flex flex-wrap items-center gap-2">
          {
            languages.map((lang) => (
              <Badge className="capitalize" key={lang}>
                {lang}
              </Badge>
            ))
          }
        </div>
      </div>
    </section>

    <section class="space-y-8">
      <h2 class="text-3xl font-bold">Studies</h2>

      <div class="space-y-4">
        {
          STUDIES.map((study) => (
            <div class="flex gap-4">
              <div class="w-30 shrink-0 text-sm opacity-60">
                <span>{study.dates}</span>
              </div>

              <div class="space-y-1">
                <p class="leading-snug" set:html={study.study} />

                <p class="text-sm italic opacity-80">
                  {study.highlights.join(" | ")}
                </p>
              </div>
            </div>
          ))
        }
      </div>

      <div class="flex justify-end px-4 pt-2">
        <Button>Download CV</Button>
      </div>
    </section>

    <section>
      <FeatureExample client:visible />
    </section>

    <section class="grid w-full gap-8 md:grid-cols-2">
      <div
        class="mx-auto flex w-full flex-col justify-center gap-8 p-8 lg:w-[80%]"
      >
        <h2 class="text-3xl font-bold">Get in touch</h2>

        <div class="divide-y divide-gray-300">
          <div class="flex items-center gap-3 py-4">
            <div class="flex w-8 justify-center">
              <Inbox className="size-7" />
            </div>
            <p>danigeap@gmail.com</p>
          </div>

          <div class="flex items-center gap-3 py-4">
            <div class="flex w-8 justify-center">
              <Linkedin class="size-8" />
            </div>
            <p>Daniel Gea Palenzuela</p>
          </div>
        </div>
      </div>

      <div>
        <Form client:load />
      </div>
    </section>
  </MainLayout>
</Layout>
