---
import { Badge } from "@/components/ui/badge";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import MainLayout from "@/layouts/MainLayout.astro";
import Card from "@/components/atoms/ProjectCard.astro";

// TODO añadir debajo de project un pequeño titulo aclaratoriom de cuando son y por qué están

export const CATEGORIES = [
  { label: "UX/UI", id: "ux" },
  { label: "frontend", id: "frontend" },
  { label: "creative coding", id: "creative-coding" },
];

const projects: CollectionEntry<"projects">[] = await getCollection("projects");

console.log("projects >>", projects);

projects.sort((a, b) => {
  const projectA = a.data.date.getTime();
  const projectB = b.data.date.getTime();

  return projectB - projectA;
});

const { pathname } = Astro.url;
---

<Layout>
  <MainLayout>
    <div class="space-y-8">
      <h1 class="text-4xl font-bold uppercase">Projects</h1>

      <div class="flex flex-wrap gap-4">
        {
          CATEGORIES.map((category) => (
            <button class="cursor-pointer" data-category={category.id}>
              <Badge variant="outline" className="px-3 py-1 capitalize">
                {category.label}
              </Badge>
            </button>
          ))
        }
      </div>
    </div>

    <div class="space-y-12">
      {
        projects.map((project) => {
          return (
            <a
              class="block"
              href={`${pathname}/${project.id}`}
              data-category={project.data.collection}
            >
              <Card data={project} />
            </a>
          );
        })
      }
    </div>
  </MainLayout>
</Layout>

<style>
  .active {
    background-color: var(--color-cream);
    color: var(--color-dark);

    span {
      outline-color: var(--color-cream) !important;
      border-color: var(--color-cream) !important;
    }
  }

  a[data-category] {
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
  }
  .card-hidden {
    transition:
      opacity 0.2s ease,
      transform 02s ease !important;
    opacity: 0 !important;
    transform: scale(1) translateY(20px);
    pointer-events: none !important;
    position: absolute;
  }
</style>

<script>
  function initFiltering() {
    const buttons = document.querySelectorAll(
      "button[data-category]",
    ) as NodeListOf<HTMLButtonElement>;

    const cards = document.querySelectorAll(
      "a[data-category]",
    ) as NodeListOf<HTMLElement>;

    buttons.forEach((button) => {
      button.addEventListener("click", filterProjects);
    });

    function filterProjects(event: Event) {
      const button = event.currentTarget;

      if (!button || !(button instanceof HTMLButtonElement)) {
        console.warn("not a button detected");
        return;
      }

      if (!cards) return;

      // reset filter
      if (button.classList.contains("active")) {
        buttons.forEach((button) => button.classList.remove("active"));

        cards.forEach((card) => card.classList.remove("card-hidden"));
        return;
      }

      // set filters
      buttons.forEach((button) => button.classList.remove("active"));
      button.classList.add("active");
      const category = button.dataset.category;

      cards.forEach((card) => {
        if (card.dataset.category != category) {
          card.classList.add("card-hidden");
        } else {
          card.classList.remove("card-hidden");
        }
      });
    }
  }

  document.addEventListener("astro:page-load", initFiltering);
</script>
