---
import { isActionError } from "astro:actions";
import clsx from "clsx";

const menu = [
  {
    id: "portfolio",
    label: "Portfolio",
    path: "/",
  },
  {
    id: "projects",
    label: "Projects",
    path: "/projects",
  },
  {
    id: "photography",
    label: "Photography",
    path: "/photography",
  },
  {
    id: "publications",
    label: "Publications",
    path: "/publications",
  },
  {
    id: "about",
    label: "About",
    path: "/about",
  },
];

const currentPath = Astro.url.pathname;
---

<header
  class="bg-light/95 fixed top-4 left-1/2 z-20 max-w-[calc(100vw-1.5rem)] -translate-x-1/2 rounded-full px-2 py-2 shadow-xl sm:top-8 sm:px-4"
>
  <nav id="nav" class="overflow-x-auto">
    <ul class="relative flex gap-1 sm:gap-2">
      {
        menu.map((item) => {
          const isActive =
            currentPath === item.path ||
            currentPath.startsWith(item.path + "/");

          return (
            <>
              <li class={clsx("text-dark relative", isActive ? "active" : "")}>
                <a
                  href={item.path}
                  class={`relative z-10 block px-2.5 py-1.5 text-sm font-medium whitespace-nowrap sm:px-4 sm:py-2 sm:text-base`}
                >
                  {item.label}
                </a>
                {isActive && (
                  <span
                    id="initial-active"
                    class="bg-clay absolute top-1/2 right-0 left-0 h-8 -translate-y-1/2 rounded-full sm:h-10 sm:min-w-16"
                  />
                )}
              </li>
            </>
          );
        })
      }

      <span
        class="hover-pill bg-clay pointer-events-none absolute rounded-full"
      >
      </span>
    </ul>
  </nav>
</header>

<style>
  .hover-pill {
    opacity: 0;
    left: 0;
    transform: translateX(var(--x, 0px));
    width: var(--w, 4rem);
    filter: contrast(var(--contrast, 100%));
    height: 100%;
    transition:
      transform 300ms,
      width 300ms;
  }

  li {
    color: var(--color-dark);
    transition: color 150ms ease 100ms;

    &.active {
      color: var(--color-light);
    }

    &.pill-on {
      color: var(--color-light);
    }
  }

  ul:hover > li.active:not(.pill-on) {
    color: var(--color-dark);
    transition: color 150ms ease 0ms;
  }
</style>

<script>
  let currentMatchCleanUp: (() => void) | null = null;

  function initNavHover() {
    const nav = document.getElementById("nav");
    const ul = nav?.querySelector("ul");
    const hoverPill = nav?.querySelector(".hover-pill") as HTMLElement;
    const lis = nav?.querySelectorAll("li");
    const activeLi = nav?.querySelector(".active");

    function getNavMeasures() {
      const activeLiRect = activeLi?.getBoundingClientRect();
      const ulRect = ul?.getBoundingClientRect();

      return { activeLiRect, ulRect };
    }

    if (hoverPill) hoverPill.style.transition = "none";

    defaultPropertiesActive();

    requestAnimationFrame(() => {
      if (hoverPill) {
        hoverPill.style.opacity = "1";
        hoverPill.style.transition = "";
      }
    });

    function moveTo(event: Event) {
      const { ulRect } = getNavMeasures();

      const li = event.currentTarget as HTMLLIElement;

      if (!ulRect || !li || !hoverPill) return;

      const liRect = li.getBoundingClientRect();

      const x = liRect.left - ulRect.left;
      const w = liRect.width;

      hoverPill.style.setProperty("--x", `${x}px`);
      hoverPill.style.setProperty("--w", `${w}px`);
      hoverPill.style.setProperty("--contrast", `110%`);

      lis?.forEach((li) => li.classList.remove("pill-on"));
      li.classList.add("pill-on");
    }

    function defaultPropertiesActive() {
      const { activeLiRect, ulRect } = getNavMeasures();

      if (!activeLiRect || !ulRect || !hoverPill) return;

      const x = activeLiRect.left - ulRect.left;
      const w = activeLiRect.width;

      hoverPill.style.setProperty("--x", `${x}px`);
      hoverPill.style.setProperty("--w", `${w}px`);
      hoverPill.style.setProperty("--opacity", "0");
      hoverPill.style.setProperty("--contrast", "100%");

      lis?.forEach((li) => li.classList.remove("pill-on"));

      // remove initial span with active background
      const span = activeLi?.querySelector("span");
      if (span) {
        span.style.display = "none";
      }
    }

    lis?.forEach((li: HTMLLIElement) => {
      li.addEventListener("mouseenter", moveTo);
    });

    nav?.addEventListener("mouseleave", defaultPropertiesActive);

    const match = window.matchMedia("(min-width: 640px)");

    match.addEventListener("change", defaultPropertiesActive);
    currentMatchCleanUp = () =>
      match.removeEventListener("change", defaultPropertiesActive);
  }

  document.addEventListener("astro:page-load", initNavHover);
</script>
