---
import type { GetStaticPaths } from "astro";
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { formatMonthYear, isYouTubeLink, getYouTubeId } from "@/utils/helper";
import { Badge } from "@/components/ui/badge";
import { ArrowRight, TriangleAlert } from "lucide-react";
import { render } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import BackLink from "@/components/atoms/BackLink.astro";
import ScrollHint from "@/components/atoms/ScrollHint.astro";
import Gallery from "@/components/atoms/Gallery";
import { getImage } from "astro:assets";

export const prerender = true;

export const getStaticPaths = (async () => {
  const projects = await getCollection("projects");

  return projects.map((p) => ({ params: { slug: p.id } }));
}) satisfies GetStaticPaths;

const { slug } = Astro.params;

const project = await getEntry("projects", slug);
if (!project) return Astro.redirect("/404");

// markdown
const { Content } = await render(project);

const hasContent = Boolean(project.body?.trim().length);

const { pathname } = Astro.url;
if (!pathname) return Astro.redirect("/404");

const backLink = `/${pathname.split("/").filter(Boolean).slice(0, -1)}`;

const youTubeId =
  project.data.videos?.[0] && isYouTubeLink(project.data.videos[0])
    ? getYouTubeId(project.data.videos[0])
    : null;

const gallery = project.data.gallery ?? null;
---

<Layout>
  <MainLayout>
    <div class="mx-auto space-y-8 sm:space-y-16">
      <BackLink label="Back to projects" href={backLink} />

      <div class="space-y-4 sm:space-y-12">
        <figure class="aspect-video w-full overflow-hidden rounded-2xl">
          <Image
            src={project.data.img}
            alt={project.data.title}
            width={1200}
            height={675}
            class="h-full w-full object-cover"
          />
        </figure>

        <section
          class="grid grid-cols-1 items-start gap-4 sm:gap-16 lg:grid-cols-[1fr_280px]"
        >
          <div>
            <time class="text-xs tracking-widest uppercase opacity-50"
              >{formatMonthYear(project.data.date, true)}</time
            >
            <h1 class="mt-2 mb-6 text-4xl font-medium">{project.data.title}</h1>
            <p
              class="mb-5 leading-relaxed sm:mb-10"
              set:html={project.data.description}
            />

            {
              hasContent && (
                <div class="prose prose-neutral prose-h3:text-xl prose-h3:font-semibold prose-h2:text-2xl prose-h2:font-semibold prose-h3:text-clay max-w-none space-y-6 border-t pt-8">
                  <Content />
                </div>
              )
            }
          </div>

          <aside>
            <div class="space-y-4 rounded-xs border-b py-6 sm:px-4">
              <p class="text-sm tracking-wider uppercase">Technologies</p>
              <div class="flex flex-wrap gap-2">
                {
                  project.data.technologies.map((t: string) => (
                    <Badge>{t}</Badge>
                  ))
                }
              </div>
            </div>
            {
              project.data.links && (
                <div class="space-y-4 rounded-xs border-b py-6 sm:px-4">
                  <p class="text-sm tracking-wider uppercase">Links</p>
                  <div class="flex flex-col gap-1.5">
                    {project.data.links.map(
                      (link: { label: string; url: string }) => {
                        const target = link.url.startsWith("https")
                          ? "_blank"
                          : "_self";

                        return (
                          <a
                            href={link.url}
                            target={target}
                            class="flex items-center gap-0.75 transition hover:underline"
                          >
                            <ArrowRight className="size-4" />
                            {link.label}
                          </a>
                        );
                      },
                    )}
                  </div>
                </div>
              )
            }
          </aside>
        </section>
      </div>

      {
        gallery && gallery.length > 0 && (
          <section class="space-y-4">
            <h2 class="text-dark/90 text-2xl font-medium sm:text-3xl">
              Gallery
            </h2>
            <Gallery images={gallery} client:load />
          </section>
        )
      }

      {
        project.data.videos && (
          <section class="relative space-y-8 pt-100 pb-50">
            <ScrollHint className="top-25" />
            {project.data.videoCaption && (
              <div class="space-y-1.5">
                {project.data.warning && (
                  <div class="bg-clay text-light mb-12 flex items-center gap-3 rounded-xs px-3 py-1.5 text-base">
                    <TriangleAlert className="size-5" />
                    <p>
                      <strong>Warning</strong> Flashing Lights
                    </p>
                  </div>
                )}
                <h3 class="text-light text-2xl font-semibold">
                  {project.data.videoCaption[0]}
                </h3>
                <p class="text-light text-base italic">
                  {project.data.videoCaption[1]}
                </p>
              </div>
            )}
            <figure class="aspect-video">
              {youTubeId ? (
                <iframe
                  id="project-video"
                  class="h-full w-full"
                  src={`https://www.youtube.com/embed/${youTubeId}`}
                  title={project.data.title}
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                />
              ) : (
                <video
                  class="playsinline w-full object-cover"
                  loop
                  controls
                  id="project-video"
                >
                  {/* <!-- TODO: prefer motion reduce --> */}
                  {project.data.videos.map((video) => {
                    if (video.startsWith("https")) {
                    }
                    const type = video.endsWith(".webm")
                      ? "video/webm"
                      : "video/mp4";

                    return <source src={video} type={type} />;
                  })}
                </video>
              )}
            </figure>
          </section>
        )
      }
    </div>
  </MainLayout>
</Layout>

<script>
  function initFocusVideo() {
    const video = document.getElementById("project-video");
    const overlay = document.getElementById("dark-overlay") as HTMLElement;
    const mainLayout = document.querySelector(".main-layout") as HTMLElement;

    if (video && overlay && mainLayout) {
      const observer = new IntersectionObserver(
        ([entry]) => {
          const rootRect = entry.rootBounds;
          if (!rootRect) return;

          const stripHeight = rootRect.height;
          const videoHeight = entry.boundingClientRect.height;

          const maxPossibleRatio = Math.min(1, stripHeight / videoHeight);

          const focus =
            maxPossibleRatio > 0
              ? Math.min(1, entry.intersectionRatio / maxPossibleRatio)
              : 0;

          const percent = `${(focus * 100).toFixed(1)}%`;

          overlay.style.opacity = focus.toString();
          mainLayout.style.setProperty("--text-focus", percent);
        },
        {
          rootMargin: "-45% 0px -45% 0px",
          threshold: Array.from({ length: 21 }, (_, i) => i / 20),
        },
      );

      observer.observe(video);
    }
  }

  document.addEventListener("astro:page-load", initFocusVideo);
</script>
