---
import { formatMonthYear } from "@/utils/helper";
import { Image } from "astro:assets";

const { data, dark = false } = Astro.props;

const publication = data.data;
---

<article class="flex gap-8">
  <figure
    class={`relative w-65 shrink-0 aspect-video ${dark ? "border-light" : "border-dark"}`}
  >
    <Image
      src={publication.img}
      alt=""
      width={500}
      height={500}
      class="object-cover w-full h-full"
    />
  </figure>
  <div class="space-y-1 flex items-start justify-start flex-col w-full">
    <h3 class="text-2xl font-normal">{publication.title}</h3>
    <p class="">
      Published by
      <a href="/" class={` underline ${dark ? "text-cream" : "text-clay"} `}>
        {publication.publisher}
      </a>
    </p>
    <p class="italic">
      {publication.keywords}
    </p>

    <time datetime={publication.date} class="mt-auto">
      {formatMonthYear(publication.date)}
    </time>
  </div>
</article>
