---
import { formatMonthYear } from "@/utils/helper";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import type { boolean } from "astro:schema";
import clsx from "clsx";

interface PublicationProps {
  data: CollectionEntry<"publications">;
  dark?: boolean;
  className?: string;
}

const { data, dark = false, className } = Astro.props;

const publication = data.data;
---

<article
  class={clsx(
    "group flex flex-col gap-6 sm:gap-8 rounded-2xl transition duration-300 ease-in-out sm:flex-row",
    className,
  )}
>
  <figure
    class={`relative w-full shrink-0 rounded-xl overflow-hidden aspect-9/6 transition duration-300 ease-in-out sm:w-68 ${dark ? "border-light" : "border-dark"}`}
  >
    <Image
      src={publication.img}
      alt=""
      width={500}
      height={500}
      class="h-full w-full object-cover transition duration-200 ease-in-out group-hover:scale-104"
    />
  </figure>
  <div class="flex w-full flex-col items-start justify-start space-y-1">
    <h3 class="text-xl font-normal md:text-2xl">{publication.title}</h3>
    <p class="">
      Published by
      <span class={`${dark ? "text-cream" : "text-clay"} `}>
        {publication.publisher}
      </span>
    </p>
    <p class="italic">
      {publication.keywords}
    </p>

    <time datetime={publication.date} class="mt-auto">
      {formatMonthYear(publication.date)}
    </time>
  </div>
</article>
